
/* 1.125rem=18px  */

:root{
    --verylight: rgb(179, 175, 175);
    --lighter:lightgrey;
    --light: grey;
    --dark: rgb(107, 106, 106);
    --purple: rgb(148, 9, 148);
    --blue: rgb(6, 6, 190);
}

*{
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--lighter);
    color: var(--verylight);
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 400;
    color:var(--light);
    margin-bottom: 1rem;
}

#new-task{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline:none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--verylight);
    font-size: 1.25rem;
}

#new-task-input ::placeholder {
    color: var(--light);
}

#submit-task{
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    background-image: linear-gradient(to left, var(--verylight), var(--dark) );
    cursor: pointer;
    transition: 0.4s;
}

#submit-task:hover{
    opacity: 0.8;
    color: var(--blue);
}

#submit-task:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.todo-list{
    padding: 1rem;
 
}

.todo-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--verylight);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .text-content{
    flex: 1 1 0%;
}

#tasks .task .text-content .text {
    color: var(--light);
    font-size: 1.1;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .text-content .text:not(:read-only) {
    color: var(--blue);

}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
    color: var(--blue);
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    color: var(--purple);
}

.task .actions .delete{
    color: var(--dark);
}